.projects{
    padding: 2rem;
    text-align: center;
}

.projects h1{
    font-size: 3rem;
    margin-bottom: 0;
}
.card_txt_project_btn{
    display: flex;
    gap: 0.4rem;
    z-index: 50;
    justify-content: center;
}
.card_txt_project_btn a{
    text-decoration: none;
    color: white;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.808);
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
}
.card_txt_project_btn a:hover{
    background-color: black;
    transition: 1s;
}
.project_cards{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
}
.card_project{
    width: 30rem;
    background-color: white;
    border-radius: 10px;
   border: 1px black solid;
}
.card_project img{
    height: 20rem;
}
.card_txt_project {
    padding: 0 1rem 1rem 1rem;
    color: black;
}
.card_txt_project p{
    color: rgba(0, 0, 0, 0.8);
}

