body{
    height: 100%;
    width: 100%;
    color: white;
}

.innercursor{
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
}
.outercursor{
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px rgba(255, 255, 255, 0.57) solid;
    position: fixed;
}
