@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.hero_txt h1 span{
    /* color: #aa8889; */
}

.hero_main{
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.hero {
    gap: 3rem;
    display: flex;
    justify-content: center;
    width: 90%;
    justify-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
}
/* .available div {
    width: 1rem;
    height: 1rem;
    background: green;
    border-radius: 50%;
} */
.available{
    display: flex;
    justify-content: right;
}
.hero_right{
    flex:1;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    text-align: left;
}
.hero_right h1{
    font-size: 4rem;
    font-weight: 400;
    line-height: 3.8rem;
}
.hero_txt {
    flex: 1 1;    translate: none;
    rotate: none;
    scale: none;
    opacity: 1;
    justify-content: center;
    /* transform: translate(0px, 50.32px); */
    justify-items: center;
    display: flex;
    flex-direction: column;
}

.hero_txt h1 {
    margin-bottom: 0;
    font-size: 5rem;
    font-weight: 400;
   
    /* padding-top: 1rem; */
    /* padding-left: 2rem; */
    text-align: right;
}

.hero_txt p {
   text-align: right;
    font-weight: 200;
    font-size: 1.2rem;
    margin-bottom: 0;
    opacity: 70%;
}

.available div{
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: .5rem;
    background: #98fe7f;
    border-radius: 50%;
    margin: 0 .5rem;
    vertical-align: middle;
    transform: translateY(.5em);
    /* transform: translateX(-1em); */
    animation: pulse-animation 2s infinite;
    animation-delay: 3s;
}

@keyframes pulse-animation {
    
    0% {
        box-shadow: 0 0 #98fe7f80;
    }
    
    100% {
        box-shadow: 0 0 0 .5rem #98fe7f00;
    }
}
.hero_lottie {
    flex: 1 1;
}
.hero_btn{
    /* width: 27rem; */
}
.hero_btn button{
    border: none;
    background: none;
}
.hero_btn button a{
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: white;
    color: black;
    border: none   ;
}
.hero_img {
    /* width: 78%; */
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px solid white;
    border-radius: 50%;
}
.hero_img img{
    height: 95%;
}