.SocialMediaIcon {
   display: flex;
   justify-content: center;
   padding-top: 1rem;
}
.SocialMediaIcon a{
    padding: 0.5rem;
}
.SocialMediaIcon a svg{
    padding: 0.8rem;
    background-color: white;
    width: 2rem;
    border-radius: 2.6rem;
    height: 2rem;
    color: black;
    margin: 0 0 10px;
    position: relative;
}
.SocialMediaIcon a svg:hover{
    background-color:#aa8889;
    color: white;
    transform: scale(110%);
    transition-duration: 0.3s;
    animation: ease-in-out .3s;
}
.SocialMediaIcon a svg path{
    color: black;
}
